{
  "extends": ["prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  }
}
